.layersContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 600px;
  user-select: none;
  opacity: 0;
  font-family: "Campton", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
}

.endTutorial {
  user-select: auto;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.tutorialText {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: var(--gray-text-color);
  margin-top: 16px !important;
  padding: 0 8px !important;

}

.arrow {
  font-size: 32px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  transform: rotate(90deg);
  z-index: 0;
}

@keyframes pulse-shadow {
  0%, 100%  {
    filter: drop-shadow(0px 0 0px var(--gray-text-color)) drop-shadow(0px 0 0px var(--gray-text-color));
    
  }
  50% {
    filter: drop-shadow(0px 0 1px var(--gray-text-color)) drop-shadow(0px 0 1px var(--gray-text-color));
  }
}

.cursorContainer {
  position: absolute;
  top: 25%;
  animation: cursorPulseAndMove 6s infinite;
  transform-origin: 0%;
  pointer-events: none;
  z-index: 25;
  opacity: 1;
  transition: opacity 1.5s ease-out;
  transition-delay: 0.5s;
}

@keyframes cursorPulseAndMove {
  0%, 45% {
    top: 25%;
    transform: scale(1) translateY(0);
  }
  22.5% {
    top: 25%;
    transform: scale(1.35) translateY(-10px);
  }
  50%, 95% {
    top: 40%;
    transform: scale(1) translateY(0);
  }
  72.5% {
    top: 40%;
    transform: scale(1.35) translateY(-10px);
  }
  100% {
    top: 25%;
    transform: scale(1) translateY(0);
  }
}

.Spread {
  transform: translateX(var(--offset-x)) translateY(var(--offset-y)) translateZ(var(--offset-z));
  opacity: 1;
  margin: 16px 0;
}

.layers {
    width: 100%;
    max-width: 400px;
    height: 100%;
    overflow: visible;
    transform: translate(-40%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 1;


    .pulse path:nth-child(1) {
      animation: pulse-shadow 2s ease-out infinite;
    }




    .g {
      transition: transform 0.2s ease-out;

      &:nth-of-type(2) {
        animation-delay: 0.2s;
      }
  
      &:nth-of-type(3) {
        animation-delay: 0.4s;
      }
  
      &:nth-of-type(4) {
        animation-delay: 0.6s;
      }
    }
  
    text {
      font-weight: bold;
      fill: rgba(255,255,255,0.8);
    }

    path {
      stroke: rgba(255,255,255,1);
      stroke-width: 0.25;
    }
  
    path:nth-child(2) {
      fill: rgba(0,0,0,0.3);
    }
  
    path:nth-child(3):not(.icon) {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
  