

.Figure {
  --main-color: #FFEC2D;
  --secondary-color: #B6D2BE;
  --tertiary-color: #A7A375;
  --quaternary-color: #4b624b;
  --quinary-color: #CAA1A6;
  --senary-color: #CA6C38;
  --gray-color: #CCCCCC;
  --white-color: #FFFFFF;
  --main-text-color: black;
  --secondary-text-color: black;
  --tertiary-text-color: white;
  --quaternary-text-color: white;
  --quinary-text-color: white;
  --senary-text-color: white;
  --gray-text-color: black;
  --white-color: #FFFFFF;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  background: 
  radial-gradient(circle, var(--white-color), transparent), 
  linear-gradient(45deg, var(--gray-color), var(--gray-color));
  max-width: 100%;
}


.Figure h3 {
  font-family: "Campton Medium";
  font-size: 24px;
  color: #000;
  text-align: center; 
  margin: 64px 0;
  
}

.Down {
  font-family: "Campton Medium";
  font-size: 24px;
  color: black;
  text-align: center; 
  margin: -16px 0 8px 0;
  transform: rotate(90deg);
  position: relative;
}

.Button {
  position: relative;
  z-index: 20;
}

