

.Figure {
  --main-color: #FFEC2D;
  --secondary-color: #B6D2BE;
  --tertiary-color: #A7A375;
  --quaternary-color: #4b624b;
  --quinary-color: #CAA1A6;
  --senary-color: #CA6C38;
  --gray-color: #CCCCCC;
  --white-color: #FFFFFF;
  --main-text-color: black;
  --secondary-text-color: black;
  --tertiary-text-color: white;
  --quaternary-text-color: white;
  --quinary-text-color: white;
  --senary-text-color: white;
  --gray-text-color: black;
  --white-color: #FFFFFF;
  width: 1920px;
  height: 1080px;
  background-color: white;
  display: block;
  margin: auto;
  background: 
  radial-gradient(circle, var(--white-color), transparent), 
  linear-gradient(45deg, var(--gray-color), var(--gray-color));
  display: flex;
  max-width: 100%;
}