
@font-face {
  font-family: 'Campton Book';
  src: url('./assets/fonts/CamptonBook/font.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Campton Medium';
  src: url('./assets/fonts/CamptonMedium/font.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


/* Specific resets for your existing styles */
body {
  font-family: 'Campton Book', sans-serif; /* Ensuring font consistency */
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    padding: 0 0 48px 0;
    margin: 0;
    width: 100vw;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}